.footer {
  background-color: #212121;
  flex: 1;
  display: flex;
  justify-content: center;
  color: #FFF;
  padding: 24px;
  padding-top: 50px;
  font-size: 14px;
  width: 100%;
}

.footer-container {
  max-width: 1280px;
  flex-direction: column;
  flex: 1;
  display: flex;
}

.footer-container-center {
  display: flex;
  flex-direction: row;
  flex: 1;
  
}



@media (max-width: 960px) and (min-width: 711px) {
  .footer-img {
    transform: rotate(-90deg);
    width: 100px;
    margin-top: 50px !important;
    margin-left: auto;
  }
  .footer-header1 {
    margin-left: 0 !important;
  }
}


@media (max-width: 710px) {
 .footer-container-center {
   flex-direction: column;
   margin: auto;
 }
 .footer-img {
   width: 100px;
   margin-left: 0px !important;
 }

 .footer-img-container {
  display: flex;
  justify-content: center;
 }
}

.footer-img {
  margin-top: 20px;
  width: 100px;
  margin-left: 24px;
}

.footer-header1 {
  margin-top: 20px;
  margin-left: 80px;
}


.footer-header2 {
  margin-top: 20px;
  margin-left: 80px;
}

.footer-header3 {
  margin-left: 80px;
  margin-top: 20px;
}

.footer-header4 {
  margin-right: auto;
  margin-left: 80px;
  margin-top: 20px;
}



.footer-list-header {
  font-size: 16px;
  font-weight: 600;
}

.footer-list-subheader {
  font-size: 14px;
  font-weight: 600;
  color: rgb(212, 212, 212);
  margin-top: 16px;
}

.footer-list {
  list-style: none;
  margin-left: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-list li {
  font-weight: 400;
  font-size: 13px;
  margin-top: 8px;
  color: #AAA;
  cursor: pointer;
}

.footer-list li > a {
  color: inherit;
  text-decoration: none;
}

.footer-list li:hover {
  color: #FFF;
}

.copyright-info {
  text-align: center;
  color: #888;
  font-size: 12px;
  font-weight: 400;
  margin-top: 80px;
}