@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid #AAA;
  font-size: 18px;
  min-width: 500px;
}
